
.main-panel, .button, .toggle-button, .tab-pane .tab-header-area .tab,
.combo-box, .combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-view .list-cell,
.scroll-pane .content, .text-area, .scroll-pane .corner
, .scroll-bar:vertical
, .scroll-bar:horizontal
, .check-box:selected .box .mark
, .table-view
, .table-view .placeholder
, .table-view .column-header-background .filler
, .table-view .column-header-background .nested-column-header .column-header
, .table-view .column-resize-line
, .table-view .column-overlay
, .table-row-cell
, .tree-view
, .tree-cell
, .html-editor
, .html-editor .grid
, .html-editor .grid .top-toolbar
, .html-editor .grid .bottom-toolbar
, .color-picker, .list-view, .list-cell
{
    -fx-background-color :rgb(32, 33, 36);
    -fx-border-color : rgb(32, 33, 36);
}

.list-cell .text, .tree-cell .text
{
    -fx-fill: white ;
}

.list-cell:selected .text, .tree-cell:selected .text
{
    -fx-fill: rgb(138, 180, 248);
}



@keyframes opacity_animation {
    0% {
        -fx-opacity: 0.1;
    }

    100% {
        -fx-opacity: 1;
    }
}



.table-row-cell:selected, .table-row-cell:hover, .slider .track, .slider .thumb
{
    -fx-background-color: rgb(138, 180, 248);
}



.slider .thumb
{
    -fx-border-radius: 50%;
    -fx-border-color: black;
}

.table-row-cell:selected .text
{
    -fx-fill: rgb(138, 180, 248) ;

}

.button, .toggle-button, .tab-pane .tab-header-area .control-buttons-tab,
.tab-pane .tab-header-area .control-buttons-tab .tab-down-button .arrow
{
    -fx-text-fill: rgb(138, 180, 248);
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: rgb(95, 99, 104);
}

.combo-box-base .arrow-button .arrow
, .scroll-bar:vertical .thumb
, .scroll-bar:horizontal .thumb
, .scroll-bar:vertical .increment-button .increment-arrow
, .scroll-bar:horizontal .increment-button .increment-arrow
, .scroll-bar:vertical .decrement-button .decrement-arrow
, .scroll-bar:horizontal .decrement-button .decrement-arrow
, .spinner .increment-arrow-button .increment-arrow
, .spinner .decrement-arrow-button .decrement-arrow
, .check-box .box, .split-pane-divider, .split-pane .split-pane-divider .vertical-grabber, .split-pane .split-pane-divider .horizontal-grabber
{
    -fx-background-color: rgb(138, 180, 248);
}

.spinner .increment-arrow-button:hover .increment-arrow
, .spinner .decrement-arrow-button:hover .decrement-arrow
{
    -fx-background-color: white;
}

.tab-pane .tab-header-area .tab .tab-label, .combo-box .combo-box-popup .list-view .list-cell:hover
{
    -fx-text-fill: rgb(138, 180, 248);
}

.button:hover, .toggle-button:hover
{
    -fx-background-color: rgb(40, 40, 50);
}

.button:pressed, .table-view .table-cell, .toggle-button:pressed
{
    -fx-background-color: rgb(50, 50, 60);
}



.secondary-panel, .tab-pane .tab-header-area .headers-region,
.tab-pane .tab-header-area .tab-header-background,
.table-view
, .scroll-pane
, .scroll-pane .viewport, .tool-bar, .split-pane
{
    -fx-background-color :rgb(41, 42, 45);
}

.label, .text-field, .text-area, .combo-box .combo-box-popup .list-view .list-cell
, .table-view .table-cell, .combo-box .list-cell
{
    -fx-text-fill: white;
}


.text-field, .tab-pane .tab-header-area .tab
{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgb(138, 180, 248);
    -fx-background-color: transparent;
}

.spinner, .spinner .increment-arrow-button, .spinner .decrement-arrow-button
{
    -fx-background-color: transparent;
}

.text-field:focused
{
    -fx-background-color: rgba(138, 180, 248, 0.1);
    -fx-background-radius: 4px;
}

.table-row-cell .text
{
    -fx-fill: white ;

}
.progress-indicator
{
    -fx-progress-color: rgb(138, 180, 248);
}

.progress-indicator .indicator
{
    -fx-background-color :rgb(32, 33, 36);;
}

.progress-indicator .tick
{
    -fx-background-color :rgb(41, 42, 45);
}

.progress-indicator .percentage
{
    -fx-fill: white;
}


.list-cell:hover, .tree-cell:hover .text
{
    -fx-background-color: rgb(53, 53, 53);
}

.tree-cell:hover .arrow
{
    -fx-background-color: blue;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

.tree-cell .arrow
{
    -fx-background-color: white;
}